<script setup lang="ts">
import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { usePatternStore } from 'src/stores/patterns'
import { useSessionStore } from 'src/stores/session'

const patternStore = usePatternStore()
const sessionStore = useSessionStore()

const {
  visualizationModes,
  visualizationMode
} = storeToRefs(patternStore)

const {
  toggleDialog
} = sessionStore
</script>

<template lang="pug">
.text-center.q-mx-md
  .caption View mode
    span.q-ml-sm
      q-btn(
        dense,
        round,
        flat,
        size="10px",
        padding="none",
        icon="help"
      )
        q-tooltip(
          anchor="top middle",
          self="bottom middle",
          :offset="[10, 10]"
        )
          p.text-body2 Choose between dots, counter and clock visualisation.
  q-option-group(
    inline,
    left-label,
    type="radio",
    color="primary",
    v-model="visualizationMode",
    :options="visualizationModes"
  ).q-mb-lg
</template>
